.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    background: #4fdaff;
}

.footerTitle {
    color: blue;
}

.footerTitle a {
    color: blue;
}

.rigthSide {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imageFooter {
    width: 30%;
}